<!-- <br>
<h2 class="mat-h2">Formularz dodawania nowego sensora temperatury:</h2>


<p>
    <mat-form-field appearance="fill" class="full-width-field">
        <mat-label>Nazwa sensora</mat-label>
        <input matInput placeholder="Podaj nazwę">
        <mat-hint>np. Temperatura z zewnąrz</mat-hint>
    </mat-form-field>
</p>
<mat-divider></mat-divider>
<p>
    <mat-form-field appearance="fill" class="full-width-field">
        <mat-label>Adres sensora 1-wire</mat-label>
        <input matInput placeholder="Podaj adres">
        <mat-hint>np. 28-000008d6bac6</mat-hint>
    </mat-form-field>
</p>

<p>
    <button mat-raised-button color="primary">Dodaj do bazy</button>
</p> -->

<div>
    <div>
        <br>
        <div>Formularz dodawania nowego sensora temperatury:</div>
        <br>
        <form [formGroup]="addSensorForm" (ngSubmit)="addSensorForm.valid && onAddSubmit()" novalidate>
            <div>
                <mat-form-field appearance="fill" class="full-width-field">
                    <input id="name"
                            matInput
                            formControlName="name"
                            [(ngModel)]="sensor.name"
                            placeholder="Podaj nazwę"/>
                    <mat-hint>np. Temperatura z zewnąrz</mat-hint>
                </mat-form-field>
            </div>
            <br>
            <mat-divider></mat-divider>
            <br>
            <div>
                <mat-form-field appearance="fill" class="full-width-field">
                        <input id="address"
                                matInput
                                formControlName="address"
                                [(ngModel)]="sensor.address"
                                placeholder="Podaj adres"/>
                        <mat-hint>np. 28-000008d6bac6</mat-hint>
                    </mat-form-field>
            </div>
            <br>
            <div>
                <button mat-button type="submit" class="mat-raised-button mat-primary" [disabled]="!addSensorForm.valid">Dodaj</button>
            </div>
        </form>
    </div>
</div>