<h4 class="dispaly-4">Sensor</h4>
<hr>
<div>
        <form [formGroup]="addSensorForm" (ngSubmit)="addSensorForm.valid && onAddSubmit()" novalidate>
            <div>
                <mat-form-field appearance="fill" class="full-width-field">
                    <input id="name"
                            matInput
                            formControlName="name"
                            [(ngModel)]="sensor.name"
                            placeholder="Podaj nazwę"/>
                    <mat-hint>np. Czujnik wilgotności 1</mat-hint>
                </mat-form-field>
            </div>
            <br>
            <mat-divider></mat-divider>
            <br>
            <div>
                    <mat-form-field>
                        <mat-select id=channel [(value)]="sensor.channel" placeholder="Kanał:" required>
                          <mat-option value="0">CH0</mat-option>
                          <mat-option value="1">CH1</mat-option>
                          <mat-option value="2">CH2</mat-option>
                          <mat-option value="3">CH3</mat-option>
                          <mat-option value="4">CH4</mat-option>
                          <mat-option value="5">CH5</mat-option>
                          <mat-option value="6">CH6</mat-option>
                          <mat-option value="7">CH7</mat-option>
                        </mat-select>
                        <mat-hint>Wybierz kanał</mat-hint>
                      </mat-form-field>
            </div>
            <br>
            <div>
                <button mat-button type="submit" class="mat-raised-button mat-primary" [disabled]="!addSensorForm.valid">Dodaj</button>
                <button mat-button class="mat-raised-button mat-primary" [mat-dialog-close]>Zamknij</button>
            </div>
        </form>
</div>